{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro list_fields(fields, update_path, delete_path) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% if fields|length > 0 %}
    <table class="table table-bordered">
        <tbody>
        {% for field in fields %}
            <tr id="{{ field.id }}">
                <td>{{ field.presentation }}</td>
                <td>{{ field.name }}</td>
                <td>{{ label(field.type) }}</td>
                <td class="text-center text-success">
                    {%- if field.allowMultiple %}
                        {{ icon('fa fa-check') }}
                    {% endif -%}
                </td>
                <td>
                    <div class="pull-right">
                        {{ edit(path(update_path, {'id': field.id}), null, 'xs') }}
                        {{ delete(path(delete_path, {'id': field.id}), null, 'xs') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ info('accard.field.message.none_found'|trans) }}
{% endif %}
{% endmacro %}
