{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import icon %}

{% macro option_value_form(option_value) %}

<div class="row lockable">
    <div class="col-sm-8">
        {{ form_widget(option_value.value) }}
    </div>
    <div class="col-sm-2">
      {{ form_widget(option_value.order) }}
    </div>
    <div class="lock col-sm-2">
        {{ form_widget(option_value.locked, { label: false }) }}
    </div>
</div>

{% endmacro %}

{% block option_value_form %}
{{ form_widget(form._token) }}

<div class="row">
    <div class="col-md-6 row-split">
        {% if form.vars.value.id is null %}
            {{ form_row(form.presentation, { widget_addon_append: { icon: 'remove'}}) }}
        {% else %}
            {{ form_row(form.presentation) }}
        {% endif %}
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        <div id="option-values" data-prototype="{{ _self.option_value_form(form.values.vars.prototype)|e }}">
            {% for valueForm in form.values %}
                {{ _self.option_value_form(valueForm) }}
            {% endfor %}
        </div>
        <a href="#" id="add-option-value" class="btn btn-primary btn-block">
            {{- "accard.form.option.add_value"|trans -}}
        </a>
    </div>
</div>
{% endblock %}