{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro list(options) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label %}

{% if options|length > 0 %}
    <table class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ accard_resource_sort('name', 'accard.form.option.name'|trans) }}</th>
                <th>{{ accard_resource_sort('presentation', 'accard.form.option.presentation'|trans) }}</th>
                <th>{{ 'accard.form.option.values'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr id="{{ option.id }}">
                <td>{{ option.name }}</td>
                <td>{{ option.presentation }}</td>
                <td>
                {% for value in option.values %}
                    {{ label(value) }}
                {% else %}
                    No values provided.
                {% endfor %}
                </td>
                <td>
                    <div class="pull-right">
                        {{ edit(path('accard_backend_option_update', {'id': option.id}), null, 'xs') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ info('accard.option.none_found'|trans) }}
{% endif %}

{% endmacro %}