{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{# @author Dylan Pierce <piercedy@upenn.edu #}

{% macro list(illicit_drug_behaviors) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete, show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% if illicit_drug_behaviors|length > 0 %}
    <table class="behavior table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="patient">{{ 'accard.patient.form.full_name'|trans }}</th>
                <th class="start-date">{{ accard_resource_sort('startDate', 'accard.behavior.form.start_date'|trans) }}</th>
                <th class='end-date'>{{ accard_resource_sort('endDate', 'accard.behavior.form.end_date'|trans )}}</th>
                <th class="type">{{ accard_resource_sort('type', 'accard.behavior.illicit_drug.form.type'|trans)}}</th>
                <th class="method">{{ accard_resource_sort('method', 'accard.behavior.illicit_drug.form.method'|trans)}}</th>
                <th class="frequency">{{ accard_resource_sort('frequency', 'accard.behavior.illicit_drug.form.frequency'|trans)}}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
        {% for illicit_drug_behavior in illicit_drug_behaviors %}
            <tr id="{illicit_drug_behavior.id }}">
                <td class="patient-name">{{ illicit_drug_behavior.patient.fullName }}</td>
                <td class="start-of-behavior">{{ illicit_drug_behavior.startDate|localizeddate('medium', 'none') }}</td>
                <td class='end-date'>{{ illicit_drug_behavior.endDate|localizeddate('medium', 'none') }}</td>
                <td class="type">{{ illicit_drug_behavior.type }}</td>
                <td class="method">{{ illicit_drug_behavior.method }}</td>
                <td class="frequency">{{ illicit_drug_behavior.frequency }}</td>
                <td class="actions">
                    <div class="pull-right">
                        {{ show(path('accard_frontend_behavior_illicit_drug_show', {'id': illicit_drug_behavior.id}), null, 'xs') }}
                        {{ edit(path('accard_frontend_behavior_illicit_drug_update', {'id': illicit_drug_behavior.id}), null, 'xs') }}
                        {{ delete(path('accard_frontend_behavior_illicit_drug_delete', {'id': illicit_drug_behavior.id}), null, 'xs') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ info('accard.behavior.illicit_drug.message.none_found'|trans) }}
{% endif %}

{% endmacro %}