{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient %}

{% macro sample_form(sample) %}
    {{ form_row(sample) }}
{% endmacro %}

{% block sample_patient_form %}
<div class="row">
    <div class="col-md-12">
        {{ select_patient(form.patient) }}
    </div>
</div>
{% endblock %}


<div class="col-md-12 well">
    <div class="row">
        {% block sample_amount_form %}
        <div class="col-md-6 row-split">
            {{ form_row(form.amount) }}
        </div>
        {% endblock %}
        {% block sample_sourceDate_form %}
        <div class="col-md-6">
            {{ form_row(form.sourceDate) }}
        </div>
        {% endblock %}
    </div>
</div>


{% block sample_additional_fields_form %}
{% for sample in form.samples %}
<div class="row">
    <div class="col-md-6">
        {{ _self.sample_form(sample) }}
    </div>
</div>
{% endfor %}
{% endblock %}