{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:url.html.twig' import active_if_current %}

{% set settings = accard_settings('sample') %}

<ul class="nav nav-tabs nav-justified grid-tabs" role="tablist">
    <li class="{{ active_if_current('accard_frontend_sample_index') }}">
        <a href="{{ path('accard_frontend_sample_index') }}">{{ 'accard.sample.samples'|trans }}</a>
    </li>
    {% if settings.show_collections -%}
    <li class="{{ active_if_current('accard_frontend_sample_source_collection_index') }}">
        <a href="{{ path('accard_frontend_sample_source_collection_index') }}">{{ 'accard.sample.collections'|trans }}</a>
    </li>
    {%- endif %}
    {% if settings.show_derivations -%}
    <li class="{{ active_if_current('accard_frontend_sample_source_derivation_index') }}">
        <a href="{{ path('accard_frontend_sample_source_derivation_index') }}">{{ 'accard.sample.derivations'|trans }}</a>
    </li>
    {%- endif %}
</ul>