{% extends 'AccardUIBundle:Frontend:layout.html.twig' %}

{% from 'AccardUIBundle:Macros:action.html.twig' import create %}
{% from 'AccardUIBundle:Macros:button.html.twig' import generic %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Create a new patient
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{ form_errors(form) }}
    </div>
  </div>

  <form action="{{ path('accard_frontend_patient_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form._token) }}
    {% include 'Theme:Frontend/Patient:form.html.twig' %}
    <div class="row">
        <div class="col-md-12">{{ create() }}</div>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
        var formClass = Accard.get('form');
        var manager = new formClass('form');
        var addPhase = $('#add-phase').hide();

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(event) {
            if (event.target.href.indexOf('patient-phase') != -1) {
                addPhase.fadeIn();
            } else {
                addPhase.fadeOut();
            }
        });

        function makeToday() {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + now.getMonth()).slice(-2);

            return now.getFullYear() + "-" + (month) + "-" + (day);
        }

        manager
            //.plugin("pds", "#pds")
            .collection("#phases", {
                adder: addPhase,
                startup: function(collection) {
                    var field = $(this).find('input[type="date"]').first();

                    if (!field.val()) field.val(makeToday());
                    $(this).on('click', '.input-group-addon', function(event) {
                        var prev = $(this).prev();
                        $(prev).val(makeToday());
                    });
                }
            })
           .bindAll()
        ;
    </script>
{% endblock %}
