{% from 'AccardUIBundle:Macros:misc.html.twig' import prototype_dropdown %}
{% from 'AccardUIBundle:Macros:button.html.twig' import delete_with_confirmation, edit_in_modal %}

{% set prototypes = accard_prototypes('regimen') %}
{% set selector = prototype_dropdown('regimen', prototypes, patient) %}

{% if regimens|length > 0 %}
  <table id="regimens" class="regimen-table table table-accard table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="regimen-start-date">{{ 'accard.regimen.form.start_date'|trans }}</th>
        <th class="regimen-end-date">{{ 'accard.regimen.form.end_date'|trans }}</th>
        <th class="prototype">{{ 'accard.regimen.form.prototype'|trans }}</th>
        <th class="description">{{ 'accard.regimen.form.description'|trans }}</th>
        <th class="actions">{{ selector }}</th>
      </tr>
    </thead>
    <tbody data-accard="prototypes" style="display: none">
      <tr>
        <th class="text-center" colspan="5">
          <div class="btn-group" data-toggle="buttons">
          {% for prototype in prototypes %}
            <label class="btn btn-primary">
              <input type="radio" name="prototypes" id="prototype-{{ prototype.name }}" data-accard="{{ prototype.name }}" autocomplete="off"> {{ prototype.presentation }}
            </label>
          {% endfor %}
          </div>
        </th>
      </tr>
    </tbody>
    <tbody>
    {% for regimen in regimens %}
      <tr id="regimen-{{ regimen.id }}" data-accard-activity="{{ regimen.prototype.name }}">
        <td class="regimen-start-date">{{ regimen.startDate|localizeddate('medium', 'none') }}</td>
        <td class="regimen-end-date">{{ regimen.endDate ? regimen.endDate|localizeddate('medium', 'none') : 'accard.ongoing'|trans }}</td>
        <td class="prototype">{{ regimen.prototype.presentation }}</td>
        <td class="description">{{ regimen.description }}</td>
        <td class="actions">
          <div class="pull-right">
            {{ edit_in_modal(path('accard_frontend_regimen_update', { patient: regimen.patient.id, id: regimen.id }), null, 'xs') }}
            {{ delete_with_confirmation(path('accard_frontend_regimen_delete', { patient: regimen.patient.id, id: regimen.id }), null, 'xs') }}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">
    {{ selector }}
    <h4 class="alert-heading">{{ 'accard.alert.info'|trans }}</h4>
    <p>{{ 'accard.regimen.not_found'|trans }}</p>
  </div>
{% endif %}
