{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro list(phases) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete, show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% block diagnosis_phases_listing %}
    {% if phases|length > 0 %} 
        <table class="phase table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="label-field">{{ dag_resource_sort('label', 'accard.diagnosis_phase.form.label'|trans) }}</th>
                    <th class="presentation">{{ dag_resource_sort('presentation', 'accard.diagnosis_phase.form.presentation'|trans) }}</th>
                    <th class="order">{{ dag_resource_sort('order', 'accard.diagnosis_phase.form.order'|trans) }}</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
            {% for phase in phases %}
                <tr id="{{ phase.id }}">
                    <td class="label-field">{{ phase.label }}</td>
                    <td class="presentation">{{ phase.presentation }}</td>
                    <td class="order">{{ phase.order }}</td>
                    <td class="actions">
                        <div class="pull-right">
                            {{ edit(path('accard_backend_diagnosis_phase_update', {'id': phase.id}), null, 'xs') }}
                            {{ delete(path('accard_backend_diagnosis_phase_delete', {'id': phase.id}), null, 'xs') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ info('accard.diagnosis_phase.none_found'|trans) }}
    {% endif %}
{% endblock %}
{% endmacro %}