{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Backend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import design %}
{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import update %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}

{% block content %}
    {{ page_title('accard.interface.backend.titles.update_diagnosis_phase'|trans, [
        design(path('accard_backend_diagnosis_design'), 'accard.diagnosis.action.design'|trans)
    ]) }}

    {{ form_errors(form) }}
    
    <form action="{{ path('accard_backend_diagnosis_phase_update', { id: diagnosis_phase.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT">
        {{ form_widget(form._token) }}
        {% include 'AccardWebBundle:Backend/DiagnosisPhase:form.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{ update() }}</span>
            </div>
        </div>
    </form>
{% endblock %}
