
{% block widget_widget -%}
    <div {{ block('_attributes') }}>
    {% for child in widget if widget|length > 0 %}
        {{ widget(child) }}
    {% else %}
        {{ block('_default_widget') }}
    {% endfor %}
    </div>
{%- endblock widget_widget %}

{% block _default_widget -%}
    Create a block called "{{ type }}_widget", to customize "{{ type }}" widget rendering.
{%- endblock _default_widget %}

{% block heading_widget -%}
    <h{{ level }} {{ block('_attributes') }}>{{ translate ? heading|trans({}, translation_domain) : heading }}</h{{ level}}>
{%- endblock %}

{% block text_widget %}
    {%- if raw %}
        {{ text|raw }}
    {% else %}
        {{ translate ? text|trans({}, translation_domain) : text }}
    {% endif -%}
{% endblock text_widget %}

{% block _attributes -%}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock _attributes %}