{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Backend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import create %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:fields.html.twig' import list_prototypes, list_fields %}

{% macro action_buttons() %}
    {% block sample_nav %}
    <div class="btn-group">
        <a href="{{ path('accard_frontend_sample_index') }}" class="btn btn-primary">{{ 'accard.sample.action.manage_all'|trans }}</a>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{ 'accard.toggle'|trans }}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="{{ path('accard_backend_sample_prototype_create') }}">{{ 'accard.sample_prototype.action.create'|trans }}</a></li>
            <li><a href="{{ path('accard_backend_sample_field_create') }}">{{ 'accard.sample_prototype_field.action.create'|trans }}</a></li>
        </ul>
    </div>
    {% endblock %}
{% endmacro %}

{% block content %}
    {% page_title %}
        {{ page_title('accard.sample.action.design'|trans, _self.action_buttons()) }}
    {% endblock %}
    {% block sample_nav %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="{{ _self.active_tab(['prototype', 'none'], 'active') }}">
            <a href="#prototypes" role="tab" data-toggle="tab">
                {{- 'accard.sample_prototype.title.list'|trans -}}
            </a>
        </li>
        <li class="{{ _self.active_tab('field', 'active') }}">
            <a href="#fields" role="tab" data-toggle="tab">
                {{- 'accard.sample_prototype_field.title.list'|trans -}}
            </a>
        </li>
        <li class="{{ _self.active_tab('settings', 'active') }}">
            <a href="#settings" role="tab" data-toggle="tab">
                {{- 'accard.settings'|trans -}}
            </a>
        </li>
    </ul>
    {% endblock %}

    {% block sample_content %}
    <div class="tab-content grid-tabs">
        {% block sample_prototypes %}
        <div id="prototypes" class="tab-pane fade{{ _self.active_tab(['prototype', 'none'], ' in active') }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{- 'accard.sample_prototype.title.list'|trans -}}
                    </h4>
                </div>
                {{ list_prototypes(prototypes, 'accard_backend_sample_prototype_update', 'accard_backend_sample_prototype_delete') }}
            </div>
        </div>
        {% endblock %}
        {% block sample_prototype_fields %}
        <div id="fields" class="tab-pane fade{{ _self.active_tab('field', ' in active') }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{- 'accard.sample_prototype_field.title.list'|trans -}}
                    </h4>
                </div>
                {{ list_fields(fields, 'accard_backend_sample_field_update', 'accard_backend_sample_field_delete') }}
            </div>
        </div>
        {% endblock %}
        {% block sample_settings %}
        <div id="settings" class="tab-pane fade{{ _self.active_tab('settings', ' in active') }}">
            <form action="{{ path('accard_backend_sample_settings_update') }}" method="POST" enctype="{{ form_enctype(settings_form) }}">
                {{ form_widget(settings_form._token) }}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-xs">{{ 'accard.update'|trans }}</button>
                            </div>
                            {{- 'accard.settings'|trans -}}
                        </h4>
                    </div>
                    <div class="panel-body">
                        {{ form_widget(settings_form.enabled) }}
                        {{ form_widget(settings_form.show_collections) }}
                        {{ form_widget(settings_form.show_derivations) }}
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
{% endblock %}

{% block page_javascripts %}
<script type="text/javascript" defer>

    var Tabler = Accard.get('table');
    var prototypes = new Tabler('#prototypes');
    var fields = new Tabler('#fields');

    prototypes
        .plugin('autohighlighting', {
            id: 'prototype-{{ app.request.query.get('id', 0) }}',
            className: 'warning'
        })
        .bindAll()
    ;

    fields
        .plugin('autohighlighting', {
            id: 'field-{{ app.request.query.get('id', 0) }}',
            className: 'warning'
        })
        .bindAll()
    ;

</script>
{% endblock %}

{# Figure out if the current tab has been set, if not default to prototypes #}
{% macro active_tab(test, output) %}
{% spaceless %}
    {% set active_section = app.request.query.get('type', 'none') %}
    {% if test is not iterable %}
        {% set test = [test] %}
    {% endif %}
    {% if active_section in test %}{{ output }}{% endif %}
{% endspaceless %}
{% endmacro %}
