{% extends 'AccardUIBundle:Frontend:layout.html.twig' %}
{% from 'AccardUIBundle:Macros:action.html.twig' import create %}

{% set prototype = behavior.prototype is defined ? behavior.prototype.name : 'default' %}

{% block content %}

  {% block behavior_header %}
    <div class="row">
      <div class="col-xs-12">
        <h2>
          {{- 'accard.creating'|trans({ '%created%': prototype }) -}}
        </h2>
      </div>
    </div>
  {% endblock behavior_header %}

  {% block behavior_errors %}
    {{ form_errors(form) }}    
  {% endblock %}

  {% block behavior_form %}
    <form action="{{ path('accard_frontend_behavior_create', { patient: behavior.patient.id, prototype: prototype }) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form._token) }}
      {% include ["Theme:Frontend/Behavior:#{prototype}-form.html.twig", "Theme:Frontend/Behavior:form.html.twig"] with { behavior: behavior } %}
      <div class="row">
        <div class="col-md-12">{{ create() }}</div>
    </div>
    </form>
  {% endblock %}

{% endblock %}
