{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{# @author Dylan Pierce <piercedy@upenn.edu #}

{% macro list(diagnoses) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete, show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% if diagnoses|length > 0 %}
    <table class="diagnosis table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="code">{{ accard_resource_sort('code', 'accard.diagnosis.form.code'|trans) }}</th>
                <th class="patient">{{ accard_resource_sort('patient', 'accard.patient.form.full_name'|trans) }}</th>
                <th class="start-date">{{ accard_resource_sort('startDate', 'accard.diagnosis.form.start_date'|trans) }}</th>
                <th class='end-date'>{{ accard_resource_sort('endDate', 'accard.diagnosis.form.end_date'|trans )}}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
        {% for diagnosis in diagnoses %}
            <tr id="{{ diagnosis.id }}">
                <td class="code">{{ diagnosis.code.description }}</td>
                <td class="patient-name">{{ diagnosis.patient.fullName }}</td>
                <td class="start-of-diagnosis">{{ diagnosis.startDate|localizeddate('medium', 'none') }}</td>
                <td class='end-date{% if diagnosis.ongoing %} ongoing text-muted{% endif %}'>
                {%- if not diagnosis.ongoing %}
                    {{ diagnosis.endDate|localizeddate('medium', 'none') }}
                {% else %}
                    <em>{{ 'accard.diagnosis.form.end_date_ongoing'|trans }}</em>
                {% endif -%}
            </td>
                <td class="actions">
                    <div class="pull-right">
                        {{ show(path('accard_frontend_diagnosis_show', {'id': diagnosis.id}), null, 'xs') }}
                        {{ edit(path('accard_frontend_diagnosis_update', {'id': diagnosis.id}), null, 'xs') }}
                        {{ delete(path('accard_frontend_diagnosis_delete', {'id': diagnosis.id}), null, 'xs') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ info('accard.diagnosis.none_found'|trans) }}
{% endif %}

{% endmacro %}
