{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{# @author Dylan Pierce <piercedy@upenn.edu #}

{% macro list(education_behaviors) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete, show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% if education_behaviors|length > 0 %}
    <table class="behavior table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="patient">{{ 'accard.patient.form.full_name'|trans }}</th>
                <th class="start-date">{{ accard_resource_sort('startDate', 'accard.behavior.form.start_date'|trans) }}</th>
                <th class='end-date'>{{ accard_resource_sort('endDate', 'accard.behavior.form.end_date'|trans )}}</th>
                <th class="level">{{accard_resource_sort('level', 'accard.behavior.education.form.level')}}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
        {% for education_behavior in education_behaviors %}
            <tr id="{{ education_behavior.id }}">
                <td class="patient-name">{{ education_behavior.patient.fullName }}</td>
                <td class="start-of-behavior">{{ education_behavior.startDate|localizeddate('medium', 'none') }}</td>
                <td class='end-date'>{{ education_behavior.endDate|localizeddate('medium', 'none') }}
                <td class="level">{{ education_behavior.level }}</td>
                <td class="actions">
                    <div class="pull-right">
                        {{ show(path('accard_frontend_behavior_education_show', {'id': education_behavior.id}), null, 'xs') }}
                        {{ edit(path('accard_frontend_behavior_education_update', {'id': education_behavior.id}), null, 'xs') }}
                        {{ delete(path('accard_frontend_behavior_education_delete', {'id': education_behavior.id}), null, 'xs') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ info('accard.behavior.education.message.none_found'|trans) }}
{% endif %}

{% endmacro %}