{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Common/Form:createBackend.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import no_javascript %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import create %}


{#
    Page title translation.
#}

{% block form_page_title_translation 'accard.field.action.create'|trans %}


{#
    Form page title.
#}

{% block form_page_title %}
    {{ page_title(block('form_page_title_translation')) }}
    {{ no_javascript() }}
{% endblock %}


{#
    Field form.
#}

{% block form_body %}
    <div class="row">
        <div class="col-md-6">
            {% if form.vars.value.id is null %}
                {{ form_row(form.presentation, { widget_addon_append: { icon: 'remove'}}) }}
            {% else %}
                {{ form_row(form.presentation) }}
            {% endif %}
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.type) }}
            <div id="option-hider">
                {{ form_row(form.option) }}
                <span class="pull-right">
                    {{ form_widget(form.allowMultiple) }}
                </span>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}


{#
    Field javascript.
#}

{% block form_javascripts %}
    <script type="text/javascript">
        var former = Accard.get("form");
        var manager = new former($('form'));
        manager
            {% if form.vars.value.id is null -%}
            .behavior('presentation', {
                target: 'name',
                condition: 'changed',
                action: 'slug',
                event: 'keyup'
            })
            {% endif -%}
            .behavior('type', {
                target: '#option-hider',
                condition: ['equal', 'choice'],
                action: 'show'
            })
            .behavior('type', {
                target: 'option',
                condition: ['not_equal', 'choice'],
                action: 'clear'
            })
            .behavior('type', {
                target: 'allowMultiple',
                condition: ['not_equal', 'choice'],
                action: 'clear'
            })
            .bindAll();

        {% if form.vars.value.id is null -%}
        // Enable or disable automatic slugging...
        !(function($) {
            var presentationField = $('[id$="field_presentation"]:first');
            var nameField = $('[id$="field_name"]:first');
            var presentationButton = presentationField.next();

            if (presentationButton.is('span')) {
                presentationButton.on('click', function() {
                    presentationField.off('keyup');
                    presentationButton.remove();
                    presentationField.parent().removeClass('input-group');
                    nameField.prop('readonly', false);
                })
            }
        })(jQuery);
        {% endif %}

    </script>
{% endblock %}
