{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Common/Form:createBackend.html.twig' %}

{% macro prototype(field) %}
    <div class="form-group">
        <a href="#" data-accard="delete" data-accard-confirm="{{ 'accard.confirm_delete'|trans }}" class="pull-right">{{ 'accard.delete'|trans|lower }}</a>
        {{ form_label(field, 'accard.field.entity_name'|trans) }}
        {{ form_widget(field) }}
    </div>
{% endmacro %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import no_javascript %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import create %}


{#
    Page title translation.
#}

{% block form_page_title_translation 'accard.prototype.action.create'|trans %}


{#
    Form page title.
#}

{% block form_page_title %}
    {{ page_title(block('form_page_title_translation')) }}
    {{ no_javascript() }}
{% endblock %}


{#
    Prototype form.
#}

{% block form_body %}

    {% from _self import prototype %}

    <div class="row">
        <div class="col-md-8 row-split">
            {% if form.vars.value.id is null %}
                {{ form_row(form.presentation, { widget_addon_append: { icon: 'remove'}}) }}
            {% else %}
                {{ form_row(form.presentation) }}
            {% endif %}
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-4">
            <div id="accard-prototype-fields" data-prototype="{{ prototype(form.fields.vars.prototype)|e }}">
                {% for field in form.fields %}
                    {{ prototype(field) }}
                {% endfor %}
            </div>
            <a href="#" id="accard-prototype-field-adder" class="btn btn-primary btn-block">
                {{- "accard.prototype.action.add_field"|trans -}}
            </a>
        </div>
    </div>

    <hr>
{% endblock %}


{#
    Prototype javascript.
#}

{% block form_javascripts %}
    <script type="text/javascript">
        var former = Accard.get("form");
        var manager = new former($('form'));
        manager
            {% if form.vars.value.id is null -%}
            .behavior('presentation', {
                target: 'name',
                condition: 'changed',
                action: 'slug',
                event: 'keyup'
            })
            {% endif -%}
            .collection("#accard-prototype-fields", {
              adder: $("#accard-prototype-field-adder")
            })
            .bindAll();

            {% if form.vars.value.id is null -%}

            // Enable or disable automatic slugging...
            !(function($) {
                var presentation = $('[id$="prototype_presentation"]:first');
                var name = $('[id$="prototype_name"]:first');
                var presentationButton = presentation.next();

                if (presentationButton.is('span')) {
                    presentationButton.on('click', function() {
                        presentation.off('keyup');
                        presentationButton.remove();
                        presentation.parent().removeClass('input-group');
                        name.prop('readonly', false);
                    })
                }
            })(jQuery);

            {% endif %}
    
    {% block form_javascripts_extended '' %}

    </script>
{% endblock %}
