{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient %}

{% set count = form.fields|length %}
{% set half_count = (count/2)|round(0, 'ceil') %}

{% if count > 0 %}
    {% set row1fields = form.fields|slice(0, half_count) %}
{% endif %}
{% if count > 1 %}
    {% set row2fields = form.fields|slice(half_count, count) %}
{% endif %}

{% macro render_field(field) %}
    {{ form_widget(field) }}
{% endmacro %}

{% if form.patient is defined %}
    <div class="row">
        <div class="col-md-12">
            {{ select_patient(form.patient) }}
        </div>
    </div>
{% endif %}

{% from _self import render_field %}
{% include 'AccardWebBundle:Frontend/Regimen:formTabs.html.twig' %}

<div class="tab-content">
    <div class="tab-pane fade in active" id="regimen-base">
        <div class="row">
            <div class="col-md-12 ">
                <div class="col-md-6 row-split">
                    {% if form.diagnosis is defined %}
                        {{ form_row(form.diagnosis) }}
                    {% endif %}
                    {% if form.drug is defined %}
                        {{ form_row(form.drug) }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="regimen-custom">
        <div class="row">
            <div class="col-md-6">
            {% if count > 0 %}
                {% for field in row1fields %}
                    {{ render_field(field) }}
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-md-6">
            {% if count > 1 %}
                {% for field in row2fields %}
                    {{ render_field(field) }}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="regimen-activities">
    </div>
</div>


