{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient %}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import update %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient_js, select_patient_css %}
{% set prototype = form.vars.value.prototype is defined ? form.vars.value.prototype.name : 'default' %}

{% set settings = accard_settings('regimen') %}

{% block content %}
	{% block page_title %}
    {{ page_title('accard.regimen.title.show'|trans) }}
    {% endblock %}

<section class="tab-content">
    <div id="details" class="tab-pane active grid-tabs">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <ul class="list-group">
                <li class="list-group-item"><strong>Patient Name</strong> : {{regimen.patient.fullName}}</li>
                <li class="list-group-item"><strong>Activities</strong> : {{ regimen }}</li>
                        {% if regimen.diagnosis %}
                        <li class="list-group-item"><strong>Diagnosis</strong> : {{ regimen.diagnosis }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
  <div class="row">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Regimen Dates</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{ regimen.startDate|date('m/d/Y') }}</td>
                                    <td>{{ regimen.endDate|date('m/d/Y') }}</td>
                                
                                </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>

<div class="row">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Activity prototype</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Prototype</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{regimen.prototype.name}}</td>
                                    <td>{{regimen.prototype.description}}</td>
                                
                                </tr>
                        
                        </tbody>
                    </table>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>


</section>

{% endblock %}
