{% extends 'AccardUIBundle:Frontend:layout.html.twig' %}
{% from 'AccardUIBundle:Macros:action.html.twig' import create %}

{% block content %}

  {% block diagnosis_header %}
    <div class="row">
      <div class="col-xs-12">
        <h2>
          {{- 'accard.creating'|trans({ '%created%': 'diagnosis' }) -}}
        </h2>
      </div>
    </div>
  {% endblock diagnosis_header %}

  {% block diagnosis_errors %}
    {{ form_errors(form) }}    
  {% endblock %}

  {% block diagnosis_form %}
    <form action="{{ path('accard_frontend_diagnosis_create', { patient: diagnosis.patient.id }) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form._token) }}
      {% include "Theme:Frontend/Diagnosis:form.html.twig" with { diagnosis: diagnosis } %}
      <div class="row">
        <div class="col-md-12">{{ create() }}</div>
      </div>
    </form>
  {% endblock %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
        var formClass = Accard.get('form');
        var manager = new formClass('form');
        var addPhase = $('#add-phase').hide();

        function showPhaseButton(){
          if (window.location.hash.indexOf('diagnosis-phases') != -1) {
              addPhase.fadeIn();
          } else {
              addPhase.fadeOut();
          }
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', showPhaseButton);
        showPhaseButton();

        function makeToday() {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + now.getMonth()).slice(-2);

            return now.getFullYear() + "-" + (month) + "-" + (day);
        }

        manager
            .collection("#phases", {
                adder: addPhase,
                startup: function(collection) {
                    var field = $(this).find('input[type="date"]').first();
                    var self = $(this);

                    if (!field.val()) field.val(makeToday());

                    $(this).on('click', '[data-accard=delete-prototype]', function(event) {
                      console.log(self);
                      self.detach();
                    });
                }
            })
           .bindAll()
        ;
    </script>
{% endblock %}