{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Backend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import update %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import pagination, page_title, statistics %}

{% block content %}

    {{ page_title('accard.activity_field.field.update'|trans) }}

    {{ form_errors(form) }}

    <form action="{{ path('accard_backend_activity_field_update', {'id': activity_prototype_field.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT">
        {% include 'AccardWebBundle:Backend/Activity:fieldForm.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{ update() }}</span>
            </div>
        </div>
    </form>

{% endblock %}


{% block page_javascripts %}

<script type="text/javascript">
    var former = Accard.get("form");
    var manager = new former($('form'));

    manager
        .behavior('presentation', {
            target: 'name',
            condition: 'changed',
            action: 'slug'
        })
        .bindAll();
</script>

{% endblock %}