{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Backend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import create %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}


{% block content %}

    {{ page_title('accard.activity_prototype.action.create'|trans) }}

    {{ form_errors(form) }}

    <form action="{{ path('accard_backend_activity_prototype_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        {% include 'AccardWebBundle:Backend/Activity:prototypeForm.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{ create() }}</span>
            </div>
        </div>
    </form>

{% endblock %}


{% block page_javascripts %}

<script type="text/javascript">
    var former = Accard.get("form");
    var manager = new former($('form'));

    manager
        .behavior('presentation', {
            target: 'name',
            condition: 'changed',
            action: 'slug'
        })
        .collection("#accard-prototype-fields", {
          adder: $("#accard-prototype-field-adder")
        })
        .bindAll();
</script>

{% endblock %}