{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro flow_path(route, scenario, step, params={}) %}
{%- spaceless %}
    {{ path(route, params|merge({ scenarioAlias: scenario, stepName: step })) }}
{% endspaceless -%}
{% endmacro %}

{% from _self import flow_path %}
{% set render_links = true %}

<div class="btn-group">

{% if context.previousStep %}
    <a href="{{ flow_path(context.flow.displayRoute, context.flow.scenarioAlias, context.previousStep.name) }}" class="btn btn-default">{{ 'accard.flow.previous'|trans }}</a>
{% endif %}

{% if not context.firstStep %}
    <a href="{{ path(context.flow.startRoute, {scenarioAlias: context.flow.scenarioAlias}) }}" class="btn btn-default">{{ 'accard.flow.reset'|trans }}</a>
{% endif %}

{% if context.nextStep %}
    <button type="submit" class="btn btn-default">{{ 'accard.flow.next'|trans }}</button>
{% else %}
    <button type="submit" class="btn btn-default">{{ 'accard.flow.finish'|trans }}</button>
{% endif %}

</div>
