{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend/Flow:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}

{% macro diagnosis_form(diagnosis) %}
{% spaceless %}

    <div class="row">
        <div class="col-md-6">
            {{ form_widget(diagnosis.code) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(diagnosis.startDate) }}
        </div>
    </div>

{% endspaceless %}
{% endmacro %}

{% block flow_content %}
    {{ page_title('accard.flow.pre_existing_conditions.action.create'|trans) }}
    {{ form_errors(form) }}    

    <div class="row">
        <div id="diagnoses" class="diagnoses" data-prototype="{{ _self.diagnosis_form(form.diagnoses.vars.prototype)|e }}">
        {% for diagnosis in form.diagnoses %}
            {{ _self.diagnosis_form(diagnosis) }}
        {% endfor %}
        </div>
    </div>
    <div class="row pull-right">
        <button id="add_pre_exisiting_condition" class="btn btn-success"><i class = 'glyphicon glyphicon-plus'></i> Add Pre-existing Condition</button>
    </div>

{% endblock %}

{% block page_javascripts %}

<script>
var formClass = Accard.get('form');
var manager = new formClass('form');

  manager

    .collection("#diagnoses", {
      adder: $("#add_pre_exisiting_condition"),
      startup: function(collection) {
        console.log(collection);
      }
    })

    .bindAll()
;

</script>

{% endblock %}