{% extends 'AccardUIBundle:Frontend/Sample:create.html.twig' %}
{% from 'AccardUIBundle:Macros:action.html.twig' import update %}

{% set prototype = sample.prototype is defined ? sample.prototype.name : 'default' %}

{% block sample_header %}
  <div class="row">
    <div class="col-xs-12">
      <h2>
        {{- 'accard.updating'|trans({ '%updated%': sample.description }) -}}
      </h2>
    </div>
  </div>
{% endblock sample_header %}

{% block sample_form %}
  {% set updatePath = path('accard_frontend_sample_update', { patient: sample.patient.id, id: sample.id }) %}
  <form action="{{ updatePath }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="_method" value="PUT">
    {{ form_widget(form._token) }}
    {% include ["Theme:Frontend/Sample:#{prototype}-form.html.twig", "Theme:Frontend/Sample:form.html.twig"] with { sample: sample } %}
    <div class="row">
        <div class="col-md-12">{{ update() }}</div>
    </div>
    </div>
  </form>
{% endblock sample_form %}
