{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Backend:layout.html.twig' %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import update %}

{% block content %}
    {% block page_title %}
        {{ page_title('accard.drug.action.update'|trans) }}
    {% endblock %}

    {% block drug_form %}
    {{ form_errors(form) }}

    <form action="{{ path('accard_backend_drug_update', {id: drug.id}) }}" method="post" {{ form_enctype(form) }}>
        {% include 'AccardWebBundle:Backend/Drug:drugForm.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{ update() }}</span>
            </div>
        </div>
    </form>
    {% endblock %}
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        var former = Accard.get("form");
        var manager = new former($('form'));
        manager
            .behavior('presentation', {
                target: 'name',
                condition: 'changed',
                action: 'slug',
                event: 'keyup'
            })
            .bindAll();
    </script>
{% endblock %}