{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{{ form_widget(form._token) }}
<div class="row">
    <div class="col-md-6">
        {% if form.vars.value.id is null %}
            {{ form_row(form.presentation, { widget_addon_append: { icon: 'remove'}}) }}
        {% else %}
            {{ form_row(form.presentation) }}
        {% endif %}
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.drugs) }}
    </div>
</div>
