<!doctype html>
<html lang="en">
    <head>
        <title>Accard Outcomes</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">
        <link href="{{ asset("bundles/accardoutcomes/css/bootstrap-table.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/accardoutcomes/css/notifier-base.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/accardoutcomes/css/notifier-theme-plastic.css") }}" rel="stylesheet">
        <link href="{{ asset("bundles/accardoutcomes/css/grid.css") }}" rel="stylesheet">
        
        {% set background = asset('bundles/accardoutcomes/img/background-1.jpg') %}
        <style>
            html, body { width: 100%; height: 100%; }
            body {
                padding-top: 20px;
                background: url("{{ background }}") no-repeat center center fixed;
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background }}, sizingMethod='scale');
                -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background }}', sizingMethod='scale')";
            }

            .section-container {
                background: #fff;
                padding: 2% 4%;
                border-radius: 10px;
                margin-bottom: 20px;

                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;

                -webkit-backface-visibility: hidden;

                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
                   -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
                        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
            }

            .section-container.animated {
                visibility: visible !important;
            }

            .section-icon {
                color: rgb(227, 87, 0);
            }

            .section-padding {
                width: 100%;
                padding-top: 20px;
            }

            .section-icon.active {
                color: rgba(227, 87, 0, 1);

                -webkit-transition: color .5s ease-in-out;
                   -moz-transition: color .5s ease-in-out;
                    -ms-transition: color .5s ease-in-out;
                     -o-transition: color .5s ease-in-out;
                        transition: color .5s ease-in-out;
            }

            #header-container {
                margin-bottom: 5px;
            }

            #header-container .navbar-toggle {
                background-color: rgba(255, 255, 255, 0.1);
                border-color: rgba(255, 255, 255, 0.6);

                -webkit-transition: all .5s ease-in-out;
                   -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                     -o-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
            }

            #header-container .navbar-toggle:hover,
            #header-container .navbar-toggle:focus {
                background-color: rgba(255, 255, 255, 0.4);
            }

            #header-container .navbar-toggle .icon-bar {
                background-color: rgba(0, 0, 0, 0.6);
            }

            #targets .target {
                border-radius: 10px;
                cursor: pointer;
            }

            #targets .target:hover {
                background: #337ab7;
                color: #FFF;

                -webkit-transition: all .3s ease-in-out;
                   -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                     -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
            }

            #targets .target.active {
                background: rgb(227, 87, 0);
                color: #FFF;
            }

            #targets .target-inner {
                height: 60px;
                max-height: 60px;
                overflow: auto;
            }

            .field .field {
            }

            .field .field-filters {
                min-height: 80px;
                max-height: 80px;
                overflow: scroll;
            }

            #base-dataset {
                height: 360px;
                max-height: 360px;
                overflow: scroll;
            }

            .state-inactive {}
            .state-active {
                color: #3c763d;
                background-color: #dff0d8;
            }
            .state-disabled {
                color: #8a6d3b;
                background-color: #fcf8e3;
            }

            .state-inactive .modal,
            .state-active .modal,
            .state-disabled .modal {
                color: #333;
            }

            input.translation-key {
                background: transparent;
                border: 0;
                outline: 0;
            }

            textarea.translation-definition {
                border: 0;
                outline: 0;
                resize: none;
                width: 100%;
                padding: 15px;
            }

            .row-no-top-margin {
                margin-top: -20px;
            }

            .row-no-bottom-margin {
                margin-bottom: -20px;
            }

            .row-2-col-with-line .col-left,
            .row-2-col-with-line .col-right {
                padding-bottom: 25px;
                height: 100%;
            }

            .row-2-col-with-line .col-inner {
                height: 100%;
            }

            .row-2-col-with-line .col-left {
                padding-right: 30px;
                -webkit-box-shadow: inset -10px 0px 30px -10px rgba(0,0,0,0.2);
                   -moz-box-shadow: inset -10px 0px 30px -10px rgba(0,0,0,0.2);
                        box-shadow: inset -10px 0px 30px -10px rgba(0,0,0,0.2);
            }

            .row-2-col-with-line .col-right {
                padding-left: 30px;
                -webkit-box-shadow: inset 10px 0px 30px -10px rgba(0,0,0,0.2);
                   -moz-box-shadow: inset 10px 0px 30px -10px rgba(0,0,0,0.2);
                        box-shadow: inset 10px 0px 30px -10px rgba(0,0,0,0.2);
            }

        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js"></script>
        <script type="text/javascript">

            requirejs.config({
                baseUrl: "/bundles/accardoutcomes/js"
            });

            require(["modules/outcomes/main"], function(main) {
                var rootUrl = "{{ path("accard_frontend") }}";
                var options = {
                    rootUrl: rootUrl,
                    stateUrl: rootUrl + "outcomes/state.json",
                    filterUrl: rootUrl + "outcomes/filters.json",
                    filteredUrl: rootUrl + "outcomes/filtered.json",
                    translatedUrl: rootUrl + "outcomes/translated.json",
                    generateUrl: rootUrl + "outcomes/generate?as=",
                    downloadUrl: rootUrl + "outcomes/download?file="
                };

                main.initialize(options);
            });
        </script>
    </head>
    <body>
        <div id="container"></div>
    </body>

    <script id="main-template" type="text/template">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div id="main" class="section-container">
                        <div id="main-container" class="section-container"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </script>
</html>