{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{# @author Dylan Pierce <piercedy@upenn.edu #}


{% macro behaviors_menu() %}

    {%- set settings = accard_settings('behavior') -%}
    {% from 'AccardWebBundle:Common/Macros:url.html.twig' import active_if_current %}
    {% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import disabled %}

    {% if not settings.enabled %}
        {{ disabled('accard.behavior.title'|trans) }}
    {% endif %}

    <ul class="nav nav-tabs nav-justified grid-tabs" role="tablist">
    {% if settings.enable_alcohol %}
        <li class="{{ active_if_current('accard_frontend_behavior_alcohol_index') }}">
            <a href="{{ path('accard_frontend_behavior_alcohol_index') }}">{{ 'accard.behavior.alcohol.title'|trans }}</a>
        </li>
    {% endif %}
    {% if settings.enable_smoking %}
        <li class="{{ active_if_current('accard_frontend_behavior_smoking_index') }}">
            <a href="{{ path('accard_frontend_behavior_smoking_index') }}">{{ 'accard.behavior.smoking.title'|trans }}</a>
        </li>
    {% endif %}
    {% if settings.enable_illicit_drugs %}
        <li class="{{ active_if_current('accard_frontend_behavior_illicit_drug_index') }}">
            <a href="{{ path('accard_frontend_behavior_illicit_drug_index') }}">{{ 'accard.behavior.illicit_drug.title'|trans }}</a>
        </li>
    {% endif %}
    {% if settings.enable_occupation %}
        <li class="{{ active_if_current('accard_frontend_behavior_occupation_index') }}">
            <a href="{{ path('accard_frontend_behavior_occupation_index') }}">{{ 'accard.behavior.occupation.title'|trans }}</a>
        </li>
    {% endif %}
    {% if settings.enable_education %}
        <li class="{{ active_if_current('accard_frontend_behavior_education_index') }}">
            <a href="{{ path('accard_frontend_behavior_education_index') }}">{{ 'accard.behavior.education.title'|trans }}</a>
        </li>
    {% endif %}
    </ul>

{% endmacro %}
