{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro list(behaviors) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete, show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label, icon %}

{% block behaviors_list %}
    {% if behaviors|length > 0 %}
        <table id="behaviors" class="behavior table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="description">{{ 'accard.behavior.form.description'|trans }}</th>
                    <th class="prototype">{{ accard_resource_sort('prototype', 'accard.behavior.form.prototype'|trans) }}</th>
                    <th class="patient">{{ accard_resource_sort('patient', 'accard.behavior.form.patient'|trans) }}</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
            {% for behavior in behaviors %}
                <tr id="behavior-{{ behavior.id }}">
                    <td class="description">{{ behavior.description }}</td>
                    <td class="prototype">
                        <a href="{{ path('accard_frontend_behavior_index_by_prototype', {'prototype': behavior.prototype.name}) }}">
                            {{- behavior.prototype.presentation -}}
                        </a>
                    </td>
                    <td class="patient">{{ behavior.patient.fullName }}</td>
                    <td class="actions">
                        <div class="pull-right">
                            {{ show(path('accard_frontend_behavior_show', {'prototype': behavior.prototype.name, 'id': behavior.id}), null, 'xs') }}
                            {{ edit(path('accard_frontend_behavior_update', {'prototype': behavior.prototype.name, 'id': behavior.id}), null, 'xs') }}
                            {{ delete(path('accard_frontend_behavior_delete', {'prototype': behavior.prototype.name, 'id': behavior.id}), null, 'xs') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ info('accard.behavior.none_found'|trans) }}
    {% endif %}
{% endblock %}
{% endmacro %}
