{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import update %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient_js, select_patient_css %}

{% set prototype = form.vars.value.prototype is defined ? form.vars.value.prototype.name : 'default' %}

{% block content %}
    {% block page_title %}
    {{ page_title('accard.attribute.title.update'|trans) }}
    {% endblock %}

    {% block attribute_form %}
        {{ form_errors(form) }}
        
        <form action="{{ path('accard_frontend_attribute_update', { prototype: prototype, id: attribute.id }) }}" method="post" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="PUT">
            {{ form_widget(form._token) }}

            {% include ['Theme:Frontend/Attribute:#{prototype}-form.html.twig', 'Theme:Frontend/Attribute:form.html.twig'] %}

            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right">{{ update() }}</span>
                </div>
            </div>
        </form>
    {% endblock %}
{% endblock %}


