{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:actions.html.twig' import create %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import generic %}

{% block content %}
    {{ page_title('accard.patient.action.create'|trans,
        [
            generic(path('accard_frontend_patient_index'), 'accard.patient.action.manage'|trans, 'user')
        ]
    ) }}

    {{ form_errors(form) }}
    
    <form action="{{ path('accard_frontend_patient_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        {% include 'AccardWebBundle:Frontend/Patient:form.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{ create() }}</span>
            </div>
        </div>
    </form>
{% endblock %}

{% block page_javascripts -%}
    <script type="text/javascript">
        var formClass = Accard.get('form');
        var manager = new formClass('form');
        var addPhase = $('#add-phase');

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(event) {
            if (event.target.href.indexOf('patient-phase') != -1) {
                addPhase.fadeIn();
            } else {
                addPhase.fadeOut();
            }
        });

        function makeToday() {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + now.getMonth()).slice(-2);

            return now.getFullYear() + "-" + (month) + "-" + (day);
        }

        manager
            .collection("#phases", {
                adder: addPhase,
                startup: function(collection) {
                    var field = $(this).find('input[type="date"]').first();

                    if (!field.val()) field.val(makeToday());
                    $(this).on('click', '.input-group-addon', function(event) {
                        var prev = $(this).prev();
                        $(prev).val(makeToday());
                    });
                }
            })
           .bindAll()
        ;
    </script>
{% endblock %}