{% form_theme form 'form_div_layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import icon %}

{% macro has_data(form) %}
{% spaceless %}
    {% set has = false %}
    {% for field in form %}
        {% if field.vars.value is not empty %}
            {% if 'checkbox' not in field.vars.block_prefixes %}
                {% set has = true %}
            {% elseif field.vars.checked %}
                {% set has = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if has %}{{ 'in' }}{% endif %}
{% endspaceless %}
{% endmacro %}

<div id="patient-filter">
    <a data-toggle="collapse"
       data-parent="#patient-filter"
       href="#patient-filter-collapse"
       class="{% spaceless %}filter-bar {{ _self.has_data(form) }}{% endspaceless %}">
        <span class="caret"></span>
    </a>
    <div id="patient-filter-collapse" class="collapse">
        <form method="get" class="form-filter">
            {{ form_widget(form.mrn) }}
            {{ form_widget(form.firstName) }}
            {{ form_widget(form.lastName) }}
            {{ form_widget(form.deceased) }} {{ form_label(form.deceased) }}
            <button type="submit">{{ icon('glyphicon glyphicon-search') }} {{ 'accard.filter'|trans }}</button>
            <a href="{{ path('accard_frontend_patient_index') }}">{{ 'accard.reset'|trans }}</a>
        </form>
    </div>
</div>