{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import create, design %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import pagination, page_title %}
{% from 'AccardWebBundle:Frontend/Patient:macros.html.twig' import list %}
{% from 'AccardWebBundle:Common/Macros:url.html.twig' import active_if_current %}

{%- set settings = accard_settings('patient') -%}
{% set designBtn = null %}
{% if is_granted('ROLE_ADMIN') %}
    {% set designBtn = design(path('accard_backend_patient_design'), 'accard.patient.action.design'|trans) %}
{% endif %}

{% block content %}

    {% block patient_title %}
    {{ page_title(
        'accard.patient.title.index'|trans,
        [
            create(path('accard_frontend_patient_create'), 'accard.patient.action.create'|trans),
            designBtn
        ]
    )}}
    {% endblock %}

    {% block patient_tabs %}
    {% if settings.import_enabled %}
    <ul class="nav nav-tabs nav-justified grid-tabs" role="tablist">
        <li class="{{ active_if_current('accard_frontend_patient_index') }}">
            <a href="{{ path('accard_frontend_patient_index') }}">{{ 'accard.patient.registered'|trans }}</a>
        </li>
        <li class="{{ active_if_current('accard_frontend_patient_import') }}{{ active_if_current('accard_frontend_import_importer_records') }}">
            <a href="{{ path('accard_frontend_patient_import') }}">{{ 'accard.patient.unregistered'|trans }}</a>
        </li>
    </ul>
    {% endif %}
    {% endblock %}

    {% block patient_content %}
        {% render(controller('AccardWebBundle:Frontend:filter', {'type': 'accard_patient_filter', 'template': 'AccardWebBundle:Frontend/Patient:filterForm.html.twig'})) %}
        
        {{ list(patients) }}
        {{ pagination(patients) }}
    {% endblock %}
{% endblock %}